.Dounts {
  padding-top: 20px;
  position: relative;
}

.Dounts .list {
  margin: 0;
  padding: 0;
}

.Dounts .li {
  list-style: none;
  height: 55px;
  position: relative;
}

.Dounts .li h5 {
  margin: 5px 0;
}

.Dounts .squares {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
  padding: 0 20px 0 65px;
}

.Dounts .square {
  flex: 1;
  height: 100%;
  position: relative;
}

.Dounts .guide {
  position: absolute;
  top: 20px;
  right: 14px;
}
.Dounts .guide .label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 3px;
}