.Table {
  height: 350px;
}

.ReactTable {
  border: 0;
}

.ReactTable .rt-td {
  white-space: initial !important;
  text-overflow: initial !important;
}

.highlightWords {
  color: red;
  font-weight: bolder;
}