.Side {
  min-width: 400px;
  width: 400px;
  padding: 20px;
  padding-top: 40px;
  margin: 0 auto;
  box-shadow: 1px 0 8px 1px rgba(0, 0, 0, 0.15);
}

.Side .radio {
  font-size: 12px;
  padding-bottom: 10px;
}

.trending h2 {
  margin: 10px 0;
}

.Side .guide {
  font-size: 10px;
}

.trending .guide {
  position: absolute;
  left: 70px;
  top: 125px;
}
.trending .guide .label {
  width: 20px;
  height: 5px;
  display: inline-block;
  margin-right: 3px;
}