.Bubbles {
  flex: 1;
}
.Bubbles .svg text {
  font-size: 12px;
  font-weight: bold;
  text-anchor: middle;
  fill: black;
  user-select: none;
  pointer-events: none;
}

.Bubbles .svg .pieg {
  outline: none;
}

.Bubbles p {
  margin: 0;
  text-align: right;
}
.Bubbles p span {
  font-weight: bolder;
}
