.Content {
  flex: 1;
  padding: 50px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.Content .bottom {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.Content .inter {
  display: flex;
  margin-bottom: 30px;
}
.Content .inter p {
  margin-right: 30px;
}

.Content p span {
  font-weight: bolder;
  color: darkblue;
}
