.App {
  display: flex;
  flex-direction: row;
  width: 1350px;
  height: 900px;
}

.refresh {
  position: absolute;
  width: 400px;
  border: 0;
  border-bottom: 1px solid #eee;
  background-color: #f1f1f1;
  height: 30px;
  line-height: 30px;
  outline: none;
  cursor: pointer;
}

.refresh:hover {
  background-color: #eee;
}
